<% title "Edit question" %>

<%= form_for(@question) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Update', :class => "button" %> <%= link_to 'Cancel', :back %>
  </p>
<% end %>
