<p>
  <%= form.label :start_date %><br />
  <%= form.date_select :start_date, :class => "textfield" %>
</p>

<p>
  <%= form.label :va_rate_caid_works_resource_limit %><br />
  <%= form.text_field :va_rate_caid_works_resource_limit, :class => "textfield" %>
</p>
<p>
  <%= form.label :va_rate_caid_real_estate_resource_limit %><br />
  <%= form.text_field :va_rate_caid_real_estate_resource_limit, :class => "textfield" %>
</p>

<p>
  <%= form.label :va_rate_caid_ltc_home_equity_limit %><br />
  <%= form.text_field :va_rate_caid_ltc_home_equity_limit, :class => "textfield" %>
</p>