<p>
  <b>Start date:</b>
  <%= @va_medically_needy_monthly_income_limit.start_date %>
</p>

<p>
  <b>Family Assistance Size:</b>
  <%= @va_medically_needy_monthly_income_limit.assist_size %>
</p>

<p>
  <b>Group 1:</b>
  <%= @va_medically_needy_monthly_income_limit.group1 %>
</p>

<p>
  <b>Group 2:</b>
  <%= @va_medically_needy_monthly_income_limit.group2 %>
</p>

<p>
  <b>Group 3:</b>
  <%= @va_medically_needy_monthly_income_limit.group3 %>
</p>


<%= link_to 'Edit', edit_va_medically_needy_monthly_income_limit_path(@va_medically_needy_monthly_income_limit) %> |
<%= link_to 'Back to va medically needy monthly income limits', va_medically_needy_monthly_income_limits_path %>
