<h1>Editing county or city</h1>

<% form_for(@county_or_city) do |f| %>
  <% @county_or_city.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>

  <p>
    <%= f.label :name %>  
    <%= f.text_field :name, :class => "textfield" %><br />   
  </p>
  <p>
	<%= f.label :medically_needy_group %>
	<%= f.select :medically_needy_group, (1..3).collect { |number| number }, {:prompt => 'Select Group'}, :class => "textfield" %>
  </p>
  <p>
    <%= f.submit 'Update', :class => "button" %> <%= link_to 'Cancel', :back %>
  </p>
<% end %>
