<% title "New county or city" %>

<% form_for(@county_or_city) do |f| %>
  <% @county_or_city.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "textfield" %>
  </p>
  <p>
    <%= f.submit 'Create', :class => "button" %><%= link_to 'Cancel', :back %>
  </p>
<% end %>
