<p>
  <%= form.label :start_date %><br />
  <%= form.date_select :start_date, :class => "textfield" %>
</p>
<p>
  <%= form.label :end_date %><br />
  <%= form.date_select :end_date, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_1 %><br />
  <%= form.text_field :family_size_1, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_2 %><br />
  <%= form.text_field :family_size_2, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_3 %><br />
  <%= form.text_field :family_size_3, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_4 %><br />
  <%= form.text_field :family_size_4, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_5 %><br />
  <%= form.text_field :family_size_5, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_6 %><br />
  <%= form.text_field :family_size_6, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_7 %><br />
  <%= form.text_field :family_size_7, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_8 %><br />
  <%= form.text_field :family_size_8, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_9 %><br />
  <%= form.text_field :family_size_9, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_10 %><br />
  <%= form.text_field :family_size_10, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_11 %><br />
  <%= form.text_field :family_size_11, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_12 %><br />
  <%= form.text_field :family_size_12, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_13 %><br />
  <%= form.text_field :family_size_13, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_14 %><br />
  <%= form.text_field :family_size_14, :class => "textfield" %>
</p>
<p>
  <%= form.label :family_size_15 %><br />
  <%= form.text_field :family_size_15, :class => "textfield" %>
</p>
<p>
  <%= form.label :additional %><br />
  <%= form.text_field :additional, :class => "textfield" %>
</p>