<p>
  <b>Start date:</b>
  <%= @federal_poverty_level.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @federal_poverty_level.end_date %>
</p>

<p>
  <b>Family size 1:</b>
  <%= @federal_poverty_level.family_size_1 %>
</p>

<p>
  <b>Family size 2:</b>
  <%= @federal_poverty_level.family_size_2 %>
</p>

<p>
  <b>Family size 3:</b>
  <%= @federal_poverty_level.family_size_3 %>
</p>

<p>
  <b>Family size 4:</b>
  <%= @federal_poverty_level.family_size_4 %>
</p>

<p>
  <b>Family size 5:</b>
  <%= @federal_poverty_level.family_size_5 %>
</p>

<p>
  <b>Family size 6:</b>
  <%= @federal_poverty_level.family_size_6 %>
</p>

<p>
  <b>Family size 7:</b>
  <%= @federal_poverty_level.family_size_7 %>
</p>

<p>
  <b>Family size 8:</b>
  <%= @federal_poverty_level.family_size_8 %>
</p>

<p>
  <b>Family size 9:</b>
  <%= @federal_poverty_level.family_size_9 %>
</p>

<p>
  <b>Family size 10:</b>
  <%= @federal_poverty_level.family_size_10 %>
</p>

<p>
  <b>Family size 11:</b>
  <%= @federal_poverty_level.family_size_11 %>
</p>

<p>
  <b>Family size 12:</b>
  <%= @federal_poverty_level.family_size_12 %>
</p>

<p>
  <b>Family size 13:</b>
  <%= @federal_poverty_level.family_size_13 %>
</p>

<p>
  <b>Family size 14:</b>
  <%= @federal_poverty_level.family_size_14 %>
</p>

<p>
  <b>Family size 15:</b>
  <%= @federal_poverty_level.family_size_15 %>
</p>

<p>
  <b>Additional:</b>
  <%= @federal_poverty_level.additional %>
</p>


<%= link_to 'Edit', edit_federal_poverty_level_path(@federal_poverty_level) %> |
<%= link_to 'Back to federal poverty levels', federal_poverty_levels_path %>
