<p>
  <%= form.label :alabama %><br />
  <%= form.text_field :alabama, :class => "textfield" %>
</p>
<p>
  <%= form.label :alaska %><br />
  <%= form.text_field :alaska, :class => "textfield" %>
</p>
<p>
  <%= form.label :arizona %><br />
  <%= form.text_field :arizona, :class => "textfield" %>
</p>
<p>
  <%= form.label :arkansas %><br />
  <%= form.text_field :arkansas, :class => "textfield" %>
</p>
<p>
  <%= form.label :california %><br />
  <%= form.text_field :california, :class => "textfield" %>
</p>
<p>
  <%= form.label :colorado %><br />
  <%= form.text_field :colorado, :class => "textfield" %>
</p>
<p>
  <%= form.label :connecticut %><br />
  <%= form.text_field :connecticut, :class => "textfield" %>
</p>
<p>
  <%= form.label :delaware %><br />
  <%= form.text_field :delaware, :class => "textfield" %>
</p>
<p>
  <%= form.label :district_of_columbia %><br />
  <%= form.text_field :district_of_columbia, :class => "textfield" %>
</p>
<p>
  <%= form.label :florida %><br />
  <%= form.text_field :florida, :class => "textfield" %>
</p>
<p>
  <%= form.label :georgia %><br />
  <%= form.text_field :georgia, :class => "textfield" %>
</p>
<p>
  <%= form.label :hawaii %><br />
  <%= form.text_field :hawaii, :class => "textfield" %>
</p>
<p>
  <%= form.label :idaho %><br />
  <%= form.text_field :idaho, :class => "textfield" %>
</p>
<p>
  <%= form.label :illinois %><br />
  <%= form.text_field :illinois, :class => "textfield" %>
</p>
<p>
  <%= form.label :indiana %><br />
  <%= form.text_field :indiana, :class => "textfield" %>
</p>
<p>
  <%= form.label :iowa %><br />
  <%= form.text_field :iowa, :class => "textfield" %>
</p>
<p>
  <%= form.label :kansas %><br />
  <%= form.text_field :kansas, :class => "textfield" %>
</p>
<p>
  <%= form.label :kentucky %><br />
  <%= form.text_field :kentucky, :class => "textfield" %>
</p>
<p>
  <%= form.label :louisiana %><br />
  <%= form.text_field :louisiana, :class => "textfield" %>
</p>
<p>
  <%= form.label :maine %><br />
  <%= form.text_field :maine, :class => "textfield" %>
</p>
<p>
  <%= form.label :maryland %><br />
  <%= form.text_field :maryland, :class => "textfield" %>
</p>
<p>
  <%= form.label :massachusetts %><br />
  <%= form.text_field :massachusetts, :class => "textfield" %>
</p>
<p>
  <%= form.label :michigan %><br />
  <%= form.text_field :michigan, :class => "textfield" %>
</p>
<p>
  <%= form.label :minnesota %><br />
  <%= form.text_field :minnesota, :class => "textfield" %>
</p>
<p>
  <%= form.label :mississippi %><br />
  <%= form.text_field :mississippi, :class => "textfield" %>
</p>
<p>
  <%= form.label :missouri %><br />
  <%= form.text_field :missouri, :class => "textfield" %>
</p>
<p>
	<%= form.label :montana %><br />
	<%= form.text_field :montana, :class => "textfield" %>
</p>
<p>
  <%= form.label :nebraska %><br />
  <%= form.text_field :nebraska, :class => "textfield" %>
</p>
<p>
  <%= form.label :nevada %><br />
  <%= form.text_field :nevada, :class => "textfield" %>
</p>
<p>
  <%= form.label :new_hampshire %><br />
  <%= form.text_field :new_hampshire, :class => "textfield" %>
</p>
<p>
  <%= form.label :new_jersey %><br />
  <%= form.text_field :new_jersey, :class => "textfield" %>
</p>
<p>
  <%= form.label :new_mexico %><br />
  <%= form.text_field :new_mexico, :class => "textfield" %>
</p>
<p>
  <%= form.label :new_york %><br />
  <%= form.text_field :new_york, :class => "textfield" %>
</p>
<p>
  <%= form.label :north_carolina %><br />
  <%= form.text_field :north_carolina, :class => "textfield" %>
</p>
<p>
  <%= form.label :north_dakota %><br />
  <%= form.text_field :north_dakota, :class => "textfield" %>
</p>
<p>
  <%= form.label :ohio %><br />
  <%= form.text_field :ohio, :class => "textfield" %>
</p>
<p>
  <%= form.label :oklahoma %><br />
  <%= form.text_field :oklahoma, :class => "textfield" %>
</p>
<p>
  <%= form.label :oregon %><br />
  <%= form.text_field :oregon, :class => "textfield" %>
</p>
<p>
  <%= form.label :pennsylvania %><br />
  <%= form.text_field :pennsylvania, :class => "textfield" %>
</p>
<p>
  <%= form.label :rhode_island %><br />
  <%= form.text_field :rhode_island, :class => "textfield" %>
</p>
<p>
  <%= form.label :south_carolina %><br />
  <%= form.text_field :south_carolina, :class => "textfield" %>
</p>
<p>
  <%= form.label :south_dakota %><br />
  <%= form.text_field :south_dakota, :class => "textfield" %>
</p>
<p>
  <%= form.label :tennessee %><br />
  <%= form.text_field :tennessee, :class => "textfield" %>
</p>
<p>
  <%= form.label :texas %><br />
  <%= form.text_field :texas, :class => "textfield" %>
</p>
<p>
  <%= form.label :utah %><br />
  <%= form.text_field :utah, :class => "textfield" %>
</p>
<p>
  <%= form.label :vermont %><br />
  <%= form.text_field :vermont, :class => "textfield" %>
</p>
<p>
  <%= form.label :virginia %><br />
  <%= form.text_field :virginia, :class => "textfield" %>
</p>
<p>
  <%= form.label :washington %><br />
  <%= form.text_field :washington, :class => "textfield" %>
</p>
<p>
  <%= form.label :west_virginia %><br />
  <%= form.text_field :west_virginia, :class => "textfield" %>
</p>
<p>
  <%= form.label :wisconsin %><br />
  <%= form.text_field :wisconsin, :class => "textfield" %>
</p>
<p>
  <%= form.label :wyoming %><br />
  <%= form.text_field :wyoming, :class => "textfield" %>
</p>