<p>
  <b>Alabama:</b>
  <%= rate.alabama %>
</p>                              
                                  
<p>                               
  <b>Alaska:</b>                      
  <%= rate.alaska %>
</p>                              
                                  
<p>                               
  <b>Arizona:</b>                      
  <%= rate.arizona %>
</p>                              
                                  
<p>                               
  <b>Arkansas:</b>                      
  <%= rate.arkansas %>
</p>                              
                                  
<p>                               
  <b>California:</b>                      
  <%= rate.california %>
</p>                              
                                  
<p>                               
  <b>Colorado:</b>                      
  <%= rate.colorado %>
</p>                              
                                  
<p>                               
  <b>Connecticut:</b>                      
  <%= rate.connecticut %>
</p>                              
                                  
<p>                               
  <b>Delaware:</b>                      
  <%= rate.delaware %>
</p>                              
                                  
<p>                               
  <b>District of Columbia:</b>                      
  <%= rate.district_of_columbia %>
</p>                              
                                  
<p>                               
  <b>Florida:</b>                      
  <%= rate.florida %>
</p>                              
                                  
<p>                               
  <b>Georgia:</b>                      
  <%= rate.georgia %>
</p>                              
                                  
<p>                               
  <b>Hawaii:</b>                      
  <%= rate.hawaii %>
</p>                              
                                  
<p>                               
  <b>idaho:</b>                      
  <%= rate.idaho %>
</p>                              
                                  
<p>                               
  <b>Illinois:</b>                      
  <%= rate.illinois %>
</p>                              
                                  
<p>                               
  <b>Indiana:</b>                      
  <%= rate.indiana %>
</p>                              
                                  
<p>                               
  <b>Iowa:</b>                      
  <%= rate.iowa %>
</p>                              
                                  
<p>                               
  <b>Kansas:</b>                      
  <%= rate.kansas %>
</p>                              
                                  
<p>                               
  <b>Kentucky:</b>                      
  <%= rate.kentucky %>
</p>                              
                                  
<p>                               
  <b>Louisiana:</b>                      
  <%= rate.louisiana %>
</p>                              
                                  
<p>                               
  <b>Maine:</b>                      
  <%= rate.maine %>
</p>                              
                                  
<p>                               
  <b>Maryland:</b>                      
  <%= rate.maryland %>
</p>                              
                                  
<p>                               
  <b>Massachusetts:</b>                      
  <%= rate.massachusetts %>
</p>                              
                                  
<p>                               
  <b>Michigan:</b>                      
  <%= rate.michigan %>
</p>                              
                                  
<p>                               
  <b>Minnesota:</b>                      
  <%= rate.minnesota %>
</p>                              
                                  
<p>                               
  <b>Mississippi:</b>                      
  <%= rate.mississippi %>
</p>                              
                                  
<p>                               
  <b>Missouri:</b>                      
  <%= rate.missouri %>
</p>                              
                                  
<p>                               
  <b>Montana:</b>                      
  <%= rate.montana %>
</p>                              
                                  
<p>                               
  <b>Nebraska:</b>                      
  <%= rate.nebraska %>
</p>                              
                                  
<p>                               
  <b>Nevada:</b>                      
  <%= rate.nevada %>
</p>                              
                                  
<p>                               
  <b>New Hampshire:</b>                      
  <%= rate.new_hampshire %>
</p>                              
                                  
<p>                               
  <b>New Jersey:</b>                      
  <%= rate.new_jersey %>
</p>                              
                                  
<p>                               
  <b>New Mexico:</b>                      
  <%= rate.new_mexico %>
</p>                              
                                  
<p>                               
  <b>New York:</b>                      
  <%= rate.new_york %>
</p>                              
                                  
<p>                               
  <b>North Carolina:</b>                      
  <%= rate.north_carolina %>
</p>                              
                                  
<p>                               
  <b>North Dakota:</b>                      
  <%= rate.north_dakota %>
</p>                              
                                  
<p>                               
  <b>Ohio:</b>                      
  <%= rate.ohio %>
</p>                              
                                  
<p>                               
  <b>Oklahoma:</b>                      
  <%= rate.oklahoma %>
</p>                              
                                  
<p>                               
  <b>Oregon:</b>                      
  <%= rate.oregon %>
</p>                              
                                  
<p>                               
  <b>Pennsylvania:</b>                      
  <%= rate.pennsylvania %>
</p>                              
                                  
<p>                               
  <b>Rhode Island:</b>                      
  <%= rate.rhode_island %>
</p>                              
                                  
<p>                               
  <b>South Carolina:</b>                      
  <%= rate.south_carolina %>
</p>                              
                                  
<p>                               
  <b>South Dakota:</b>                      
  <%= rate.south_dakota %>
</p>                              
                                  
<p>                               
  <b>Tennessee:</b>                      
  <%= rate.tennessee %>
</p>                              
                                  
<p>                               
  <b>Texas:</b>                      
  <%= rate.texas %>
</p>                              
                                  
<p>                               
  <b>Utah:</b>                      
  <%= rate.utah %>
</p>                              
                                  
<p>                               
  <b>Vermont:</b>                      
  <%= rate.vermont %>
</p>                              
                                  
<p>                               
  <b>Virginia:</b>                      
  <%= rate.virginia %>
</p>                              
                                  
<p>                               
  <b>Washington:</b>                      
  <%= rate.washington %>
</p>                              
                                  
<p>                               
  <b>West Virginia:</b>                      
  <%= rate.west_virginia %>
</p>                              
                                  
<p>                               
  <b>Wisconsin:</b>                      
  <%= rate.wisconsin %>
</p>                              
                                  
<p>                               
  <b>Wyoming:</b>                      
  <%= rate.wyoming %>
</p>
