	<% title "Insert Number " + @question_insert.insert_number.to_s + " for " + h(Question.find(:first, :conditions => ['id = ?',  @question_insert.question_id]).name) + " Question" %> 
<p>
  <b>Question Name:</b>

<%= Question.find(:first, :conditions => ['id = ?',  @question_insert.question_id]).name  %>
</p>

<p>
  <b>Question text with insert marker[s]:</b>
  <%= Question.find(:first, :conditions => ['id = ?',  @question_insert.question_id]).text  %>
</p>
<p>
  <b>Insert Number:</b>
  <%= @question_insert.insert_number %>
</p>

<p>
  <b>WebCalc to Insert:</b>
  <%= WebCalc.find(:first, :conditions => ['id = ?',  @question_insert.webcalc_id_to_insert]).name  %>
</p>

<p>
  <b>Insert Type:</b>
  <%= @question_insert.insert_type %>
</p>

<p>
  <b>Insert Marker:</b>
  <%= @question_insert.insert_marker %>
</p>

<% if can? :manage, @question_insert %>
	<%= link_to 'Edit', edit_question_insert_path(@question_insert) %> |
	<%= link_to 'Back to Question Insertion', question_inserts_path %>
<% end %>
