<% title "Editing web calc" %>

<%= form_for(@web_calc) do |f| %>
  <% @web_calc.errors.full_messages.each do |msg| %>
	<p><%= msg %></p>
<% end %>
	<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Update', :class => "button" %> <%= link_to "Cancel", :back %>
  </p>
<% end %>
