<% title "New web calc" %>

<%= form_for(@web_calc) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit 'Create', :class => "button" %> <%= link_to "Cancel", :back %>
  </p>
<% end %>
