<p>
  <%= form.hidden_field :user_id %>
</p>
<p>
  <%= form.label :name %><br />
  <%= form.text_field :name, :class => "textfield autofocus" %><br/>
  <%= form.label :notes %><br/>
  <%= form.text_area :notes, :class=> "textfield" %>
</p>