<p>
  <%= form.label :start_date %><br />
  <%= form.date_select :start_date, :class => "textfield" %>
</p>
<p>
  <%= form.label :ag_personal_allowance %><br />
  <%= form.text_field :ag_personal_allowance, :class => "textfield" %>
</p>
<p>
  <%= form.label :ag_max_payment_pd8 %><br />
  <%= form.text_field :ag_max_payment_pd8, :class => "textfield" %>
</p>
<p>
  <%= form.label :ag_couple_max_payment_pd8 %><br />
  <%= form.text_field :ag_couple_max_payment_pd8, :class => "textfield" %>
</p>
<p>
  <%= form.label :ag_max_payment_elsewhere %><br />
  <%= form.text_field :ag_max_payment_elsewhere, :class => "textfield" %>
</p>
<p>
  <%= form.label :ag_couple_max_payment_elsewhere %><br />
  <%= form.text_field :ag_couple_max_payment_elsewhere, :class => "textfield" %>
</p>