<% title "Edit Help Topic" %>

<%= form_for @topic do |f| %>
  <% @topic.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update", :class => "button" %> <%= link_to 'Cancel', :back %>
<% end %>


  <span class='left'><%= link_to 'Back to Topics', helps_path %></span>
