<% title "Create a Help Topic" %>
<%= form_for @topic do |f| %>
  <% @topic.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
  <% end %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Submit", :class => "button" %> <%= link_to 'Cancel', :back %>
<% end %>
