<p>
  <%= form.label :name %><br />
  <%= form.text_field :name, :class => "textfield" %>
</p>
<p>
  <%= form.label :text %><br />
  <%= form.text_field :text, :class => "textfield" %>
</p>
<p>
  <%= form.label :display_rules %><br />
  <%= evaluable_field form, :display_rules %>
</p>
<p>
  <%= form.label :order %><br />
  <%= form.select :order, (1..100).collect { |number| number }, {:prompt => 'Select Order'}, :class => "textfield" %>
</p> 
<p>
  <%= form.label :result_type %><br />
  <%= form.select :result_type, %w[currency_detail currency_total string_detail string_total date_detail spacer], {:prompt => 'Select Type'}, :class => "textfield" %>
</p>
<p>
  <%= form.label :web_calc_id %><br />
  <%= form.select :web_calc_id, WebCalc.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select Web Calc', :include_blank => true}, :class => "textfield" %>
</p>
<p>
  <%= form.label :group_id %><br />
  <%= form.select :group_id, WebNumericalResultsGroup.all.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select Group'}, :class => "textfield" %>
</p>
<p>
  <%= form.label :help_id %><br />
  <%= form.text_field :help_id, :class => "textfield" %>
</p>
