<p>
  <%= form.label :start_date %><br />
  <%= form.date_select :start_date, :class => "textfield" %>
</p>
<p>
  <%= form.label :end_date %><br />
  <%= form.date_select :end_date, :class => "textfield" %>
</p>
<p>
  <%= form.label :fbr_amount %><br />
  <%= form.text_field :fbr_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :fbr_couple_amount %><br />
  <%= form.text_field :fbr_couple_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :pmv_amount %><br />
  <%= form.text_field :pmv_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :pmv_couple_amount %><br />
  <%= form.text_field :pmv_couple_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :two_thirds_fbr_amount %><br />
  <%= form.text_field :two_thirds_fbr_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :two_thirds_fbr_couple_amount %><br />
  <%= form.text_field :two_thirds_fbr_couple_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :services_amount %><br />
  <%= form.text_field :services_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :sga_disabled_amount %><br />
  <%= form.text_field :sga_disabled_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :sga_blind_amount %><br />
  <%= form.text_field :sga_blind_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :gen_exclude_amount %><br />
  <%= form.text_field :gen_exclude_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :earned_inc_disregard_amount %><br />
  <%= form.text_field :earned_inc_disregard_amount, :class => "textfield" %>
</p>
<p>
  <%= form.label :seie_max_monthly %><br />
  <%= form.text_field :seie_max_monthly, :class => "textfield" %>
</p>
<p>
  <%= form.label :seie_max_year %><br />
  <%= form.text_field :seie_max_year, :class => "textfield" %>
</p>
<p>
   RateCareBPremium <br/>
  <%= form.text_field :RateCareBPremium, :class => "textfield" %>
</p>
<p>
  RateSsiResourceLimit <br />
  <%= form.text_field :RateSsiResourceLimit, :class => "textfield" %>
</p>
<p>
  RateCoupleSsiResourceLimit <br />
  <%= form.text_field :RateCoupleSsiResourceLimit, :class => "textfield" %>
</p>
<p>
  RateCaidMostGroupsResourceLimit <br />
  <%= form.text_field :RateCaidMostGroupsResourceLimit, :class => "textfield" %>
</p>
<p>
  RateCoupleCaidMostGroupsResourceLimit <br />
  <%= form.text_field :RateCoupleCaidMostGroupsResourceLimit, :class => "textfield" %>
</p>
<p>
  RateQwdiResouceLimit <br />
  <%= form.text_field :RateQwdiResouceLimit, :class => "textfield" %>
</p>
<p>
  RateCoupleQwdiResouceLimit <br />
  <%= form.text_field :RateCoupleQwdiResouceLimit, :class => "textfield" %>
</p>
<p>
  RateQmbSlmbQiResouceLimit <br />
  <%= form.text_field :RateQmbSlmbQiResouceLimit, :class => "textfield" %>
</p>
<p>
  RateCoupleQmbSlmbQiResouceLimit <br />
  <%= form.text_field :RateCoupleQmbSlmbQiResouceLimit, :class => "textfield" %>
</p>

<p>
  RateLtcCaidSpousalResourceStandard <br />
  <%= form.text_field :RateLtcCaidSpousalResourceStandard, :class => "textfield" %>
</p>

<p>
  RateLtcCaidSpousalMaxResourceStandard <br />
  <%= form.text_field :RateLtcCaidSpousalMaxResourceStandard, :class => "textfield" %>
</p>

<p>
  RateInfreqOrIrregUnearnPerQuarterAmt <br />
  <%= form.text_field :RateInfreqOrIrregUnearnPerQuarterAmt, :class => "textfield" %>
</p>

<p>
  RateInfreqOrIrregEarnPerQuarterAmt <br />
  <%= form.text_field :RateInfreqOrIrregEarnPerQuarterAmt, :class => "textfield" %>
</p>
