<p>
  <b>Start date:</b>
  <%= @federal_rate.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @federal_rate.end_date %>
</p>

<p>
  <b>Fbr amount:</b>
  <%= @federal_rate.fbr_amount %>
</p>

<p>
  <b>Fbr couple amount:</b>
  <%= @federal_rate.fbr_couple_amount %>
</p>

<p>
  <b>Pmv amount:</b>
  <%= @federal_rate.pmv_amount %>
</p>

<p>
  <b>Pmv couple amount:</b>
  <%= @federal_rate.pmv_couple_amount %>
</p>

<p>
  <b>Two thirds fbr amount:</b>
  <%= @federal_rate.two_thirds_fbr_amount %>
</p>

<p>
  <b>Two thirds fbr couple amount:</b>
  <%= @federal_rate.two_thirds_fbr_couple_amount %>
</p>

<p>
  <b>Services amount:</b>
  <%= @federal_rate.services_amount %>
</p>

<p>
  <b>Sga disabled amount:</b>
  <%= @federal_rate.sga_disabled_amount %>
</p>

<p>
  <b>Sga blind amount:</b>
  <%= @federal_rate.sga_blind_amount %>
</p>

<p>
  <b>Gen exclude amount:</b>
  <%= @federal_rate.gen_exclude_amount %>
</p>

<p>
  <b>Earned inc disregard amount:</b>
  <%= @federal_rate.earned_inc_disregard_amount %>
</p>

<p>
  <b>Seie max monthly:</b>
  <%= @federal_rate.seie_max_monthly %>
</p>

<p>
  <b>Seie max year:</b>
  <%= @federal_rate.seie_max_year %>
</p>

<p>
  <b>RateCareBPremium:</b>
  <%= @federal_rate.RateCareBPremium %>
</p>

<p>
  <b>RateSsiResourceLimit:</b>
  <%= @federal_rate.RateSsiResourceLimit %>
</p>

<p>
  <b>RateCoupleSsiResourceLimit:</b>
  <%= @federal_rate.RateCoupleSsiResourceLimit %>
</p>

<p>
  <b> Caid Most Groups Resource Limit:</b>
  <%= @federal_rate.RateCaidMostGroupsResourceLimit %>
</p>
<p>
  <b>Couple Caid Most Groups Resource Limit:</b>
  <%= @federal_rate.RateCoupleCaidMostGroupsResourceLimit %>
</p>
<p>
  <b>Qwdi Resource Limit:</b>
  <%= @federal_rate.RateQwdiResouceLimit %>
</p>
<p>
  <b>Rate Couple Qwdi Resource Limit:</b>
  <%= @federal_rate.RateCoupleQwdiResouceLimit %>
</p>
<p>
  <b>Rate Qmb Slmb Qi Resource Limit:</b>
  <%= @federal_rate.RateQmbSlmbQiResouceLimit %>
</p>
<p>
  <b>Couple Qmb Slmb Qi Resource Limit:</b>
  <%= @federal_rate.RateCoupleQmbSlmbQiResouceLimit %>
</p>

<p>
  <b>RateLtcCaidSpousalResourceStandard:</b>
  <%= @federal_rate.RateLtcCaidSpousalResourceStandard %>
</p>

<p>
  <b>RateLtcCaidSpousalMaxResourceStandard:</b>
  <%= @federal_rate.RateLtcCaidSpousalMaxResourceStandard %>
</p>
<p>
  <b>RateInfreqOrIrregUnearnPerQuarterAmt:</b>
  <%= @federal_rate.RateInfreqOrIrregUnearnPerQuarterAmt %>
</p>
<p>
  <b>RateInfreqOrIrregEarnPerQuarterAmt:</b>
  <%= @federal_rate.RateInfreqOrIrregEarnPerQuarterAmt %>
</p>


<%= link_to 'Edit', edit_federal_rate_path(@federal_rate) %> |
<%= link_to 'Back to federal rates', federal_rates_path %>






